footer {
    margin: 0 auto 40px auto;
    max-width: var(--base-width);
}

.Copyright {
    text-align: center;
    padding: .7rem;
    background: var(--color-accent);
    font-size: .8rem;
}

.Copyright p {
    font-weight: 500;
    padding: 0;
    margin: 0;
    color: var(--color-white);
}
