footer {
    margin: 0 auto;
    background: var(--color-accent);
    min-height: 150px;
}

.Copyright {
    text-align: center;
    font-size: .8rem;
}

.Copyright p {
    font-weight: 500;
    padding: 0;
    margin: 0;
    color: var(--color-white);
}
