.Header {
    height: 50px;
    background: var(--color-black);
    border-right: 1px solid var(--color-dark);
    width: 100%;
    display: flex;
}

.HeaderInner {
    position: fixed;
    z-index: 1;
    border-left: 1px solid var(--color-dark);
}

.Tagline {
    color: var(--color-accent);
    width: 100%;
    text-align: right;
    font-size: .65rem;
    line-height: 50px;
    margin: 0 .75rem;
    font-style: italic;
}

.SiteName {
    margin-left: 5rem;
    display: block;
    line-height: 50px;
    text-decoration: none;
    font-weight: 300;
    color: var(--color-light);
}
