.Header {
    margin: 0 auto;
    height: 50px;
    border-bottom: 1px solid black;
    background: var(--bgcolor);
    width: 100%;
    display: flex;
}

/* @TODO  show this in tablet or higher */
.Tagline {
    /*display: none;*/
}

.SiteName {
    margin: 0;
    display: block;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-weight: 300;
    color: var(--color-light);
}
