
.HeaderInner {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    background: var(--color-black);
    border-left: 1px solid var(--color-dark);
    border-right: 1px solid var(--color-dark);
    height: var(--header-height);
    display: flex;
}

.Tagline {
    color: var(--color-accent);
    text-align: right;
    font-size: .65rem;
    margin: 0 1rem;
    font-style: italic;
    flex: 1 1 0;
    line-height: var(--header-height);
}

@media screen and (min-width: 960px){
    .HeaderInner {
        left: calc(1vw * var(--white-space-base));
        right: calc(1vw * var(--white-space-base));
    }
}
