.MainNavigation {
    font-weight: 300;
}

.MainNavigationToggle {
    padding: 0 1vw;
    line-height: var(--header-height);
    font-weight: 800;
    overflow: hidden;
    display: block;
    color: var(--color-accent);
    background: var(--color-black);;
    text-decoration: none;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1600 - 320)));
}

.MainNavigationToggle svg {
    margin-bottom: -5px;
    margin-right: .25rem;
}

.MainNavigationToggle.scrolled {
    /*width: 4.5rem;*/
}

.MainNavigationToggle.scrolled .FullTitle {
    display: none;
}

.MainNavigationToggle.scrolled .ShortTitle {
    display: inline;
}

.MainNavigationToggle .ShortTitle {
    display: none;
}

.MainMenuAndHelp {
    /* Absolute positioning allows menu to span 100% of page wrapper. */
    position: absolute;
    display: none;
    background: var(--color-light);
    width: 100%;
}

.MainMenuAndHelp.open {
    display: flex;
}

.MainMenu, .MenuHelp {
    list-style: none;
    padding: .25rem 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 10rem;
}

.MenuHelp {
    padding: .5rem 1rem;
}

.MainMenu li, .MenuHelp li {
    /* Padding is on the LI because if it were on A, the border underline would be continuous across navigation items. */
    padding: 0 .5rem;
}

.MainMenu a {
    line-height: var(--header-height);
    text-decoration: none;
}

.MainMenu svg {
    margin-bottom: -3px;
    margin-right: .25rem;
}

.MainMenu a:hover, .MainMenu a:focus {
    font-weight: 800;
}

.tooltip {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-left: 1.4rem;
    z-index: 1;
}
