.MainNavigation {
    width: 100%;
    max-width: var(--base-width);
    position: fixed;
    top: 0;
    font-weight: 300;
    height: 50px;
    z-index: 10;
}

.MainNavigationToggle {
    color: var(--color-accent);
    background: var(--color-black);
    float: right;
    text-decoration: none;
    padding: 0 2vw;
    max-height: 50px;
    line-height: 49px;
    font-weight: 800;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainNavigationToggle svg {
    margin-bottom: -2px;
    margin-left: .75rem;
    margin-right: 0;
}

.MainNavigationMenu {
    list-style: none;
    padding: .5rem 0;
    margin: 0;
    display: none;
    width: 100%;
    background: var(--color-light);
}

.MainNavigationMenu.is-open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.MainNavigationMenu li {
    background: var(--color-light);
    /* Padding is on the LI because if it were on A, the border underline would be continuous across navigation items. */
    padding: 0 2vw;
}

.MainNavigationMenu a {
    line-height: 50px;
    text-decoration: none;
}

.MainNavigationMenu svg {
    margin-bottom: -3px;
    margin-left: .75rem;
}

.MainNavigationMenu a:hover, .MainNavigationMenu a:focus {
    font-weight: 800;
}

.feather-xl {
    width: 1.75rem;
    height: 1.75rem;
}
