.PageWrapper {
    margin: 0 auto;
    max-width: var(--base-width);
    position: relative;
    background: var(--bgcolor);
}

@media screen and (min-width: 960px) {
    .PageWrapper {
        margin: 0 calc(1vw * var(--white-space-base) / 2);
    }
}
