.Photo .caption {
    font-size: .85rem;
    font-style: italic;
}

.Photo {
    margin: auto;
    max-width: var(--media-max-width);
}
.Photo .frame {
    background: var(--font-color);
    padding: .25rem;
}

.Photo img {
    height: auto;
    width: 100%;
    display: block;
    cursor: pointer;
}

.Photo .caption {
    margin: 0;
    text-align: center;
    font-weight: 100;
    font-size: .7rem;
}

.PhotoModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, .9);
}

.PhotoModal.open {
    animation-name: fadeIn;
    animation-duration: 0.33s;
    opacity: 1;
    display: block;
}

.PhotoModal__wrapper {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 900px;
    position: relative;
}

.PhotoModal__image {
}

.PhotoModal__caption {

}

.PhotoModal__close {
    position: absolute;
    top: -40px;
    right: -40px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.PhotoModal__close:hover,
.PhotoModal__close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 900px){
    .PhotoModal__wrapper {
        width: 100%;
    }
}
