.Post {
    z-index: 0;
}
.Post header {
    margin: 0;
    text-align: center;
}

.Post h1 {
    font-weight: 100;
    line-height: 1.05em;
    margin: 2rem 0 0 0;
}

.postDate {
    margin: 0 0 .75rem 0;
    font-size: .7rem;
    color: var(--color-accent);
}
