.PrevNext {
    max-width: var(--base-width);
    width: 100%;
    margin: 1.5rem auto;
    font-size: .75rem;
}

.PrevNext a {
    text-decoration: none;
    font-weight: 400;
    color: var(--color-light);
    display: block;
    min-height: var(--header-height);
    text-align: center;
}

.PrevNextNext a:hover, .PrevNextNext a:focus,
.PrevNextPrev a:hover, .PrevNextPrev a:focus {
    color: var(--color-accent);
}

.PrevNext ul {
    display: flex;
    flex-direction: column;
    padding-top: 300px;
}

.PrevNext ul, .PrevNext li {
    padding: 0;
    margin: 0;
    list-style: none;
    flex: 1 0 0;
}

.PrevNextRandom a {
    border: 0;
    text-align: center;
}

.PrevNextRandom a:hover, .PrevNextRandom a:focus {
    color: var(--color-accent);
    filter: drop-shadow(0 0 .5rem var(--color-black));
}

.Illuminati {
    height: 1.75rem;
    width: 1.75rem;
}

.PrevNextRandom span {
    display: none;
}

.PrevNext svg {
    margin-bottom: -4px;
}

.PrevNext .PrevNextRandom svg {
    margin-bottom: -10px;
}

@media screen and (min-width: 600px) {
    .PrevNext {
        padding: 1rem calc(var(--white-space-base) * 1vw);
    }
    .PrevNext a {
        border: none;
    }
    .PrevNext ul {
        flex-direction: row;
    }

    .PrevNextPrev a {
        text-align: left;
    }

    .PrevNextNext a {
        text-align: right;
    }

    .PrevNext .PrevNextRandom svg {
        margin-bottom: -20px;
    }
}
