.PrevNext {
    background: var(--color-dark);
    width: 100%;
    max-width: var(--base-width);
    margin: 0 auto;
}

.PrevNext a {
    text-decoration: none;
    font-weight: 400;
    color: var(--color-light);
    display: block;
}

.PrevNextNext a:hover, .PrevNextNext a:focus,
.PrevNextPrev a:hover, .PrevNextPrev a:focus {
    color: var(--color-accent);
}

.PrevNext ul {
    display: flex;
    flex-direction: column;
}

.PrevNext ul, .PrevNext li {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    flex: 1 0 0;
}

.PrevNextRandom a {
    border: 0;
    line-height: 3rem;
}

.PrevNextRandom a:hover, .PrevNextRandom a:focus {
    color: var(--color-accent);
    filter: drop-shadow(0 0 .5rem var(--color-black));
}

.Illuminati {
    height: 3.5rem;
    width: 3.5rem;
}

.PrevNextRandom span {
    display: none;
}

.PrevNext svg {
    margin-bottom: -4px;
}

.PrevNext .PrevNextRandom svg {
    margin-bottom: -10px;
}

@media screen and (min-width: 760px) {
    .PrevNext {
        padding: 1rem;
    }
    .PrevNext a {
        border: none;
    }
    .PrevNext ul {
        flex-direction: row;
    }

    .PrevNextPrev a {
        text-align: right;
    }

    .PrevNextNext a {
        text-align: left;
    }

    .PrevNext .PrevNextRandom svg {
        margin-bottom: -20px;
    }
}
