.Quote {
    margin: calc(var(--white-space-base) * .1rem) auto calc(var(--white-space-base) * .25rem) auto;
    padding: calc(var(--white-space-base) * .15rem) calc(var(--white-space-base) * .25rem) calc(var(--white-space-base) * .05rem);
    background: var(--color-dark);
    filter: drop-shadow(3px 2px 4px rgba(0, 0, 0, .25));
}

.Quote blockquote {
    margin: 0;
    padding: 0;
    color: var(--color-light);
    font-weight: 100;
    font-style: italic;
}

.Quote figcaption {
    text-align: right;
    margin-top: .5rem;
    font-size: .8rem;
}

/*.Quote cite {*/

/*}*/
