.ToTop {
    position: fixed;
    bottom: 80px;
    margin-left: -10px;
    height: 50px;
    width: 50px;
    text-align: center;
    background: var(--color-accent);
    color: white;
    border-radius: 25px;
    text-decoration: none;
    border: 3px solid var(--color-dark);
    display: none;
    z-index: 10;
}

.ToTop.show {
    display: block;
    opacity: 1;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.ToTop.hide {
    display: block;
    opacity: 0;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.Toptop.hide a {
    cursor: default;
}

.ToTop a {
    color: var(--color-dark);
    font-size: 42px;
    text-decoration: none;
}

.ToTop:hover, .ToTop:focus {
    background: var(--color-dark);
    border-color: var(--color-accent);
}

.ToTop:hover a, .ToTop:focus a {
    color: var(--color-accent);
}
