<nav id="MainNavigation" class="MainNavigation">
    <a class="MainNavigationToggle" id="MainNavigationToggle" href="/#">Menu
        <i data-feather="menu" class="feather-xl"></i></a>
    <div class="MenuWrapper">
        <form>
            <div>
                <label for="autoplay">Autoplay embedded videos.</label>
                <input type="checkbox" id="autoplay" name="autoplay">
            </div>
            <div>
                <label for="hideBug">Hide "to top" bug.</label>
                <input type="checkbox" id="hideBug" name="hideBug">
            </div>
            <div>
                <label for="newWindows">Open external links in a new window.</label>
                <input type="checkbox" id="newWindows" name="newWindows">
            </div>
            <div>
                <label for="noSurprises">Disable surprises and fun things.</label>
                <input type="checkbox" id="noSurprises" name="noSurprises">
            </div>
        </form>
        </ul>
        <ul id="MainNavigationMenu" class="MainNavigationMenu menu">
            <li><a href="/">Home <i data-feather="home"></i></a></li>
            <li><a href="/">Contact <i data-feather="send"></i></a></li>
            <li><a href="/">Latest <i data-feather="file-text"></i></a></li>
            <li><a href="/">Archives <i data-feather="archive"></i></a></li>
            <li><a href="/">Random <i data-feather="shuffle"></i></a></li>
            <li><a href="/">Newsletter</a> <i data-feather="bell"></i></li>
            <li><a href="/">RSS</a> <i data-feather="rss"></i></li>
        </ul>
    </div>
</nav>
