<nav id="MainNavigation" class="MainNavigation">
    <a class="MainNavigationToggle" id="MainNavigationToggle" href="/#">Menu
        <i data-feather="menu" class="feather-xl"></i></a>
    <div class="MainMenuAndSettings" id="MainMenuAndSettings">
        <div class="leftPanel">
            <h2>Shortcuts</h2>
            <table>
                <tr>
                    <td>m</td>
                    <td>Toggle menu.</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <ul id="MainMenu" class="MainMenu menu">
            <li><a href="/">Home <i data-feather="home"></i></a></li>
            <li><a href="/">Contact <i data-feather="send"></i></a></li>
            <li><a href="/">Latest <i data-feather="file-text"></i></a></li>
            <li><a href="/">Archives <i data-feather="archive"></i></a></li>
            <li><a href="/">Random <i data-feather="shuffle"></i></a></li>
            <li><a href="/">Newsletter</a> <i data-feather="bell"></i></li>
            <li><a href="/">RSS</a> <i data-feather="rss"></i></li>
        </ul>
    </div>
</nav>
