<nav id="MainNavigation" class="MainNavigation">
    <a class="MainNavigationToggle" id="MainNavigationToggle" href="/#"><i data-feather="menu" class="feather-xl"></i>
        <span class="FullTitle">Sitting in Oblivion</span> <span class="ShortTitle">SiO</span></a>
    <div class="MainMenuAndHelp" id="MainMenuAndHelp">
        <ul id="MainMenu" class="MainMenu menu">
            <li><a href="/"><i data-feather="home"></i> Home</a></li>
            <li><a href="/"><i data-feather="send"></i> Contact</a></li>
            <li><a href="/"><i data-feather="file-text"></i> Latest</a></li>
            <li><a href="/"><i data-feather="archive"></i> Archives</a></li>
            <li><a href="/"><i data-feather="shuffle"></i> Random</a></li>
            <li><a href="/"><i data-feather="bell"></i> Newsletter</a></li>
            <li><a href="/"><i data-feather="rss"></i> RSS</a></li>
        </ul>
        <ul class="MenuHelp">
            <li><b>m</b> : toggle main navigation</li>
            <li><b>p</b> : display image in modal</li>
            <li><b>t</b> : jump to page top</li>
        </ul>
    </div>
</nav>
