{{ define "main" }}
<main>
    <section>
        <aside class="Photo">
            <div class="frame"><img alt="MISSING IMAGE" src="/img/erik1709.jpg"></div>
            <p class="caption">Sed nisi dui, luctus non elementum placerat, tincidunt in
                quam.</p>
        </aside>
        <article class="Post">
            <header>
                <h1>h1. Nunc Viverra Eros a Imperdiet Suscipit</h1>
                <p class="postDate">
                    <time itemprop="datePublished" datetime="2021-07-29">Thursday, July 29th, 2021</time>
                </p>
            </header>

            <aside class="Quote">
                <p>Quote. Sed erat ipsum, ornare eget quam sed, laoreet posuere augue. Nullam lectus orci, commodo et
                    ligula
                    nec,
                    rutrum gravida risus. Nulla pulvinar ante ac tempor varius. (Marcus Aurelius)</p>
            </aside>

            <h2>h2. Morbi et Sollicitudin Nisi</h2>

            <h3>h3. Nulla Consequat Facilisis MI, In Pulvinar Ante Placerat</h3>

            <h4>h4. Sed Erat Ipsum, Ornare Eget Quam Sed</h4>

            <p>p. <a href="https://example.com">Lorem ipsum dolor sit amet</a>, consectetur adipiscing elit. In non
                hendrerit dui. Morbi et sollicitudin
                nisi. In id ante a velit pulvinar auctor. Sed nisi dui, luctus non elementum placerat, tincidunt in
                quam. <a href="https://google.com">Nullam in sem blandit</a>, ornare quam et, fringilla elit. Curabitur
                sagittis sapien vitae vestibulum
                scelerisque. <strong>Proin et nisl non tellus convallis suscipit.</strong> Nunc vitae tincidunt arcu,
                sit amet commodo
                ex. <em>Pellentesque accumsan ligula erat, sit amet volutpat felis sagittis id. Ut dapibus et magna
                    id</em>
                varius.</p>

            <p>p. Phasellus porta, augue blandit mattis lobortis, tellus arcu pretium velit, ut scelerisque est ex ac
                diam. Nunc ac libero laoreet, faucibus nulla non, placerat nunc. Suspendisse ullamcorper fringilla
                tellus ac scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Mauris sit amet posuere ante. Nunc semper mollis lectus eget ultricies. Morbi et lacus tempor,
                ultricies augue in, viverra leo. Ut eget feugiat elit. Aenean tempus dapibus bibendum. Phasellus pretium
                ex nec orci consequat, et accumsan libero efficitur. Nam placerat a enim quis condimentum. Maecenas
                aliquam velit quis dictum condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia curae; Donec dapibus sagittis magna eget feugiat. Morbi pulvinar elit ipsum.</p>

            <ol>
                <li>Nulla consequat facilisis mi, in pulvinar ante placerat in.</li>
                <li>Mauris lobortis ac enim ac gravida.</li>
                <li>Vestibulum eleifend nisl ipsum, varius efficitur lorem viverra eu. In hac habitasse platea
                    dictumst.
                </li>
                <li>Nam faucibus nibh in rutrum eleifend. Fusce egestas tortor ultricies magna pulvinar sodales.</li>
                <li>Aenean nec odio a nulla volutpat scelerisque vel id ipsum.</li>
            </ol>

            <ul>
                <li>Nulla consequat facilisis mi, in pulvinar ante placerat in.</li>
                <li>Mauris lobortis ac enim ac gravida.</li>
                <li>Vestibulum eleifend nisl ipsum, varius efficitur lorem viverra eu. In hac habitasse platea
                    dictumst.
                </li>
                <li>Nam faucibus nibh in rutrum eleifend. Fusce egestas tortor ultricies magna pulvinar sodales.</li>
                <li>Aenean nec odio a nulla volutpat scelerisque vel id ipsum.</li>
            </ul>
        </article>
        <aside class="Song">
<!--            <iframe src="https://www.youtube.com/embed/w7Ft2ymGmfc" allowfullscreen title="YouTube Video"></iframe>-->
        </aside>
        <aside class="PrevNext">
            <nav>
                <ul>
                    <li><a href="/">&lang;&lang; The Previous Post</a></li>
                    <li><a href="/">The Next Post &rang;&rang;</a></li>
                </ul>
            </nav>
        </aside>
    </section>
</main>
{{ end }}
